{% extends "base.html" %}
{% block navbar %}
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('show_all_flats', page_num=1, sort='added') }}">Sortuj po dacie dodania</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('show_all_flats', page_num=1, sort='updated') }}">Sortuj po dacie aktualizacji</a>
    </li>
{% endblock %}
{% block statistics %}
<table class="table table-borderless">
  <tbody>
    <tr>
      <th scope="row">
        <div class="d-flex">
          <i class="material-icons mr-2">attach_money</i>{{ offer.price[-1] | format_price }}
        </div>
      </th>
      <th>
        <div class="d-flex">
          <i class="material-icons">attach_money</i>
          <i class="material-icons mr-2">square_foot</i>{{ offer.price_pm[-1] | format_price }}
        </div>
      </th>
      <td>
        <div class="d-flex">
          <i class="material-icons mr-2">add_circle_outline</i> {{ offer.added_date[-1] }}
        </div>
      </td>
      <td>
        <div class="d-flex">
          <i class="material-icons mr-2">refresh</i> {{ offer.updated_date[-1] }}
        </div>
      </td>
    </tr>
  </tbody>
</table>
  {% block history scoped %}
  {% endblock %}
{% endblock %}
{% block footer %}
  <nav aria-label="page-pagination">
    <ul class="pagination justify-content-center">
      {% if pages.current == 1 %}
        <li class="page-item disabled">
          <a class="page-link" href="{{ url_for('show_all_flats', page_num=pages.current-1, sort=request.args.get('sort')) }}" tabindex="-1">Poprzednia</a>
        </li>
      {% else %}
        <li class="page-item"><a class="page-link" href="{{ url_for('show_all_flats', page_num=pages.current-1, sort=request.args.get('sort')) }}" tabindex="-1">Poprzednia</a></li>
        <li class="page-item"><a class="page-link" href="{{ url_for('show_all_flats', page_num=pages.current-1, sort=request.args.get('sort')) }}">{{ pages.current - 1 }}</a></li>
      {% endif %}
      {% if pages.last == 1 %}
        <li class="page-item disabled">
          <a class="page-link" href="{{ url_for('show_all_flats', page_num=pages.current, sort=request.args['sort']) }}">{{ pages.current }}<span class="sr-only">(current)</span></a>
        </li>
      {% else %}
        <li class="page-item active">
          <a class="page-link" href="{{ url_for('show_all_flats', page_num=pages.current, sort=request.args['sort']) }}">{{ pages.current }}<span class="sr-only">(current)</span></a>
        </li>
      {% endif %}
      {% if pages.current == pages.last %}
        <li class="page-item disabled">
          <a class="page-link" href="{{ url_for('show_all_flats', page_num=pages.current+1, sort=request.args['sort']) }}" tabindex="-1">Następna</a>
        </li>
      {% else %}
        <li class="page-item"><a class="page-link" href="{{ url_for('show_all_flats', page_num=pages.current+1, sort=request.args['sort']) }}">{{ pages.current + 1 }}</a></li>
        <li class="page-item"><a class="page-link" href="{{ url_for('show_all_flats', page_num=pages.current+1, sort=request.args['sort']) }}">Następna</a></li>
      {% endif %}
    </ul>
  </nav>
{% endblock %}
