{% extends "base.html" %}
{% block statistics %}
<table class="table table-borderless">
  <tbody>
    <tr>
      <th scope="row">
        <div class="d-flex">
          <i class="material-icons mr-2">attach_money</i>{{ offer.price | format_price }}
        </div>
      </th>
      <th>
        <div class="d-flex">
          <i class="material-icons">attach_money</i>
          <i class="material-icons mr-2">square_foot</i>{{ offer.price_pm | format_price }}
        </div>
      </th>
      <td>
        <div class="d-flex">
          <i class="material-icons mr-2">add_circle_outline</i> {{ offer.added_date }}
        </div>
      </td>
    </tr>
  </tbody>
</table>
{% endblock %}
{% block footer %}
  {% if pages %}
  <nav aria-label="page-pagination">
    <ul class="pagination justify-content-center">
      {% if pages.current == 1 %}
        <li class="page-item disabled">
          <a class="page-link" href="{{ url_for('show_all_flats_gt', page_num=pages.current-1)}}" tabindex="-1">Poprzednia</a>
        </li>
      {% else %}
        <li class="page-item"><a class="page-link" href="{{ url_for('show_all_flats_gt', page_num=pages.current-1) }}" tabindex="-1">Poprzednia</a></li>
        <li class="page-item"><a class="page-link" href="{{ url_for('show_all_flats_gt', page_num=pages.current-1) }}">{{ pages.current - 1 }}</a></li>
      {% endif %}
        <li class="page-item active">
          <a class="page-link" href="{{ url_for('show_all_flats_gt', page_num=pages.current) }}">{{ pages.current }}<span class="sr-only">(current)</span></a>
        </li>
      {% if pages.current == pages.last %}
        <li class="page-item disabled">
          <a class="page-link" href="{{ url_for('show_all_flats_gt', page_num=pages.current+1) }}" tabindex="-1">Następna</a>
        </li>
      {% else %}
        <li class="page-item"><a class="page-link" href="{{ url_for('show_all_flats_gt', page_num=pages.current+1) }}">{{ pages.current + 1 }}</a></li>
        <li class="page-item"><a class="page-link" href="{{ url_for('show_all_flats_gt', page_num=pages.current+1) }}">Następna</a></li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
{% endblock %}
