{% extends "base.html" %}
{% block statistics %}
<table class="table table-borderless">
  <tbody>
    <tr>
      <th scope="row"><i class="material-icons">attach_money</i>{{ offer.time_relevant[-1][1] | format_price }}</th>
      <th><i class="material-icons">attach_money</i><i class="material-icons">square_foot</i>{{ offer.time_relevant[-1][2] | format_price }}</th>
      <td><i class="material-icons">add_circle_outline</i> {{ offer.time_relevant[-1][3] }}</td>
      <td class="align-middle"><i class="material-icons">refresh</i> {{ offer.time_relevant[-1][4] }}</td>
    </tr>
  </tbody>
</table>
{% endblock %}
