{% extends "base.html" %}

{% block navbar %}
  <a class="dropdown-item"
     href="{{ url_for('show_all_flats_gt', page_num=1, sort='added') }}">
    Po dacie dodania</a>
  <a class="dropdown-item"
     href="{{ url_for('show_all_flats_gt', page_num=1, sort='updated') }}">
    Po dacie aktualizacji
  </a>
{% endblock %}

{% block header %}
  <div class="btn-group" role="group">
    {% if offer.favorite == true %}
      <a href="{{ url_for('toggle_favorite_flat', flat_id=offer._id, oto=False, enable=False) }}"
         class="btn btn-info" role="button">
        ♥
      </a>
    {% else %}
      <a href="{{ url_for('toggle_favorite_flat', flat_id=offer._id, oto=False, enable=True) }}"
         class="btn btn-outline-info" role="button">
        ♥
      </a>
    {% endif %}
    <a href="{{ offer.url }}"
       class="btn btn-primary"
       role="button"
       target="_blank">
      {{ offer._id }}
    </a>
  </div>
  <h5 class="card-title m-0">
    <a href="{{ url_for('show_flat_gt', flat_id=offer._id)  }}" target="_blank">{{ offer.title }}</a>
  </h5>
{% endblock %}

{% block statistics %}
  <th scope="row">
    <div class="d-flex">
      <i class="material-icons mr-2">attach_money</i>{{ offer.price | format_price }}
    </div>
  </th>
  <th>
    <div class="d-flex">
      <i class="material-icons">attach_money</i>
      <i class="material-icons mr-2">square_foot</i>{{ offer.price_pm | format_price }}
    </div>
  </th>
  <td>
    <div class="d-flex">
      <i class="material-icons mr-2">add_circle_outline</i>{{ offer.added_date }}
    </div>
  </td>
{% endblock %}

{% block footer %}
  {% if pages %}
    <nav aria-label="page-pagination">
      <ul class="pagination justify-content-center">
        {% if pages.current == 1 %}
          <li class="page-item disabled">
            <a class="page-link"
               href="{{ url_for('show_all_flats_gt', page_num=pages.previous, sort=request.args.get('sort'))}}"
               tabindex="-1">
              Poprzednia</a>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link"
               href="{{ url_for('show_all_flats_gt', page_num=pages.previous, sort=request.args.get('sort')) }}"
               tabindex="-1">
              Poprzednia
            </a>
          </li>
          <li class="page-item">
            <a class="page-link"
               href="{{ url_for('show_all_flats_gt', page_num=pages.previous, sort=request.args.get('sort')) }}">
              {{ pages.current - 1 }}
            </a>
          </li>
        {% endif %}
          <li class="page-item active">
            <a class="page-link"
               href="{{ url_for('show_all_flats_gt', page_num=pages.current, sort=request.args.get('sort')) }}">
              {{ pages.current }}
              <span class="sr-only">(current)</span>
            </a>
          </li>
        {% if pages.current == pages.last %}
          <li class="page-item disabled">
            <a class="page-link"
               href="{{ url_for('show_all_flats_gt', page_num=pages.next, sort=request.args.get('sort')) }}"
               tabindex="-1">
              Następna
            </a>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link"
               href="{{ url_for('show_all_flats_gt', page_num=pages.next, sort=request.args.get('sort')) }}">
              {{ pages.current + 1 }}
            </a>
          </li>
          <li class="page-item">
            <a class="page-link"
               href="{{ url_for('show_all_flats_gt', page_num=pages.next, sort=request.args.get('sort')) }}">
              Następna
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
{% endblock %}
