{% extends "base.html" %}
{% block statistics %}
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th><i class="material-icons">attach_money</i></th>
      <th><i class="material-icons">add_circle_outline</i></th>
      <th><i class="material-icons">refresh</i></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{ offer.price.keys() | list | last }}</th>
      <td> {{ offer.price.values() | list | last | format_price }}</td>
      <td> {{ offer.date_created.values() | list | last }}</td>
      <td> {{ offer.date_created.values() | max }}</td>
    </tr>
  </tbody>
</table>
{% endblock %}
